<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{.AppTitle}}: {{.PageTitle}}</title>
  <link rel="shortcut icon" href="/assets/favicon.png">
  <link rel="stylesheet" href="/assets/fonts.css">
  <link rel="stylesheet" href="/assets/theme-{{.UserConfig.SystemTheme}}.css">
</head>
<body>

<div id="headmenu">
  <div class="boxinmenu">
  <div id="evenly">
    <div class="mobileMenuButton" id="mobileMenuButtonMenu" onclick="showMobileMenu();"><img class="vector" src="/assets/menu.svg" alt="Menu"></div>
    <div class="textmenu" id="textmenu">
    <a href="/docs/">Documents</a>
    <a href="/tasks/?anyparticipants=my" class="chosenmenu">Tasks</a>
    <a href="/team/">Team</a>
    </div>
    <div class="graphicmenu">
      <a href="/config" title="Settings"><img class="vector" src="/assets/settings.svg" alt="Settings"></a>
      <a href="/team/profile/{{.LoggedinID}}" title="Profile"><img class="vector" src="/assets/profile.svg" alt="Profile"></a>
      <a href="/logout" title="Log out"><img class="vector" src="/assets/quit.svg" alt="Log out"></a>
    </div>
  </div>
  </div>
</div>
<div id="mobilemenu" style="display: none;"></div>

<div id="container">
  {{$vtsep := " \nat "}}
  {{if eq .UserConfig.TimeFormat "12h am/pm"}}
    {{$vtsep = " \n"}}
  {{end}}

  <div id="control">
    <h1>{{.PageTitle}}</h1>

  <form id="controlForm" action="/tasks/" method="POST" onsubmit="addSortingOnSubmut('controlForm');">
    <div id="search">
    <input id="showFilters" class ="sbut" type="button" value="Filters..." title="Show or hide filters" onclick="showFilters();
    /* This function shows or hides filters controls */
    function showFilters() {
    const d = document.getElementById('showhide');
    d.style.display = (d.style.display == 'none') ? 'block' : 'none';
    };">
    <input id="searchText" type="text" class="field" name="searchText" size="15" placeholder="Search text">
    <input id="searchButton" class ="sbut" type="submit" name="searchButton" value="Search">
    </div>

    <div id="showhide" style="display: none;">

      <div class="filter" id="firstFilter"><strong id="taskstatusesName">Statuses:</strong><br><br>
        {{range $i, $v := .TaskStatuses}}<input type="checkbox" id="ts{{$i}}" name="taskstatuses" value="{{$i}}">
        <label for="ts{{$i}}">{{$v}}</label><br>
        {{end}}
      </div>

      <div class="filter"><strong id="createdDatesName">Time created:</strong><br><br>
        <label for="createdDatesSingle">One value:</label><br>
        <select id="createdDatesRelation" class="numberbox" name="createdDatesRelation">
          <option value="eq">Equals</option>
          <option value="gteq">After (incl.)</option>
          <option value="lteq">Before (incl.)</option>
          <option value="noteq">Except</option>
        </select><span class="dropdown"></span><br>
        <input {{if .UserConfig.UseCalendarInConrols}}type="datetime-local"{{else}}}type="text"{{end}} id="createdDatesSingle" class="numberbox" name="createdDates" value=""
        placeholder="yyyy-mm-dd hh:mm" pattern="-?\d+-\d{1,2}-\d{1,2} \d{1,2}:\d{1,2}" size="18"><br><br>
        <label for="createdDatesDiapason">Interval:</label>
        <label class="switch"><input type="checkbox" class="hidden" 
          id="createdDatesDiapason" name="createdDatesDiapason" value="true" 
          onchange="handleNumericFilterChkBox(this, 'createdDates');
          handleNumericOption(this, 'createdDates')"><div class="slider"></div></label><br>
        <label for="createdDatesStart">Start:</label><br>
        <input {{if .UserConfig.UseCalendarInConrols}}type="datetime-local"{{else}}}type="text"{{end}} id="createdDatesStart" class="numberbox" name="createdDates" 
        placeholder="yyyy-mm-dd hh:mm" pattern="-?\d+-\d{1,2}-\d{1,2} \d{1,2}:\d{1,2}" size="18" disabled><br>
        <label for="createdDatesFinish">End:</label><br>
        <input {{if .UserConfig.UseCalendarInConrols}}type="datetime-local"{{else}}}type="text"{{end}} id="createdDatesFinish" class="numberbox" name="createdDates" 
        placeholder="yyyy-mm-dd hh:mm" pattern="-?\d+-\d{1,2}-\d{1,2} \d{1,2}:\d{1,2}" size="18" disabled><br>
      </div>

      <div class="filter"><strong id="planStartDatesName">Start (plan):</strong><br><br>
        <label for="planStartDatesSingle">One value:</label><br>
        <select id="planStartDatesRelation" class="numberbox" name="planStartDatesRelation">
          <option value="eq">Equals</option>
          <option value="gteq">After (incl.)</option>
          <option value="lteq">Before (incl.)</option>
          <option value="noteq">Except</option>
        </select><span class="dropdown"></span><br>
        <input {{if .UserConfig.UseCalendarInConrols}}type="datetime-local"{{else}}}type="text"{{end}} id="planStartDatesSingle" class="numberbox" name="planStartDates" value=""
        placeholder="yyyy-mm-dd hh:mm" pattern="-?\d+-\d{1,2}-\d{1,2} \d{1,2}:\d{1,2}" size="18"><br><br>
        <label for="planStartDatesDiapason">Interval:</label>
        <label class="switch"><input type="checkbox" class="hidden" 
          id="planStartDatesDiapason" name="planStartDatesDiapason" value="true" 
          onchange="handleNumericFilterChkBox(this, 'planStartDates');
          handleNumericOption(this, 'planStartDates')"><div class="slider"></div></label><br>
        <label for="planStartDatesStart">Start:</label><br>
        <input {{if .UserConfig.UseCalendarInConrols}}type="datetime-local"{{else}}}type="text"{{end}} id="planStartDatesStart" class="numberbox" name="planStartDates" 
        placeholder="yyyy-mm-dd hh:mm" pattern="-?\d+-\d{1,2}-\d{1,2} \d{1,2}:\d{1,2}" size="18" disabled><br>
        <label for="planStartDatesFinish">End:</label><br>
        <input {{if .UserConfig.UseCalendarInConrols}}type="datetime-local"{{else}}}type="text"{{end}} id="planStartDatesFinish" class="numberbox" name="planStartDates" 
        placeholder="yyyy-mm-dd hh:mm" pattern="-?\d+-\d{1,2}-\d{1,2} \d{1,2}:\d{1,2}" size="18" disabled><br>
      </div>

      <div class="filter"><strong id="planDueDatesName">Due (plan):</strong><br><br>
        <label for="planDueDatesSingle">One value:</label><br>
        <select id="planDueDatesRelation" class="numberbox" name="planDueDatesRelation">
          <option value="eq">Equals</option>
          <option value="gteq">After (incl.)</option>
          <option value="lteq">Before (incl.)</option>
          <option value="noteq">Except</option>
        </select><span class="dropdown"></span><br>
        <input {{if .UserConfig.UseCalendarInConrols}}type="datetime-local"{{else}}}type="text"{{end}} id="planDueDatesSingle" class="numberbox" name="planDueDates" value=""
        placeholder="yyyy-mm-dd hh:mm" pattern="-?\d+-\d{1,2}-\d{1,2} \d{1,2}:\d{1,2}" size="18"><br><br>
        <label for="planDueDatesDiapason">Interval:</label>
        <label class="switch"><input type="checkbox" class="hidden" 
          id="planDueDatesDiapason" name="planDueDatesDiapason" value="true" 
          onchange="handleNumericFilterChkBox(this, 'planDueDates');
          handleNumericOption(this, 'planDueDates')"><div class="slider"></div></label><br>
        <label for="planDueDatesStart">Start:</label><br>
        <input {{if .UserConfig.UseCalendarInConrols}}type="datetime-local"{{else}}}type="text"{{end}} id="planDueDatesStart" class="numberbox" name="planDueDates" 
        placeholder="yyyy-mm-dd hh:mm" pattern="-?\d+-\d{1,2}-\d{1,2} \d{1,2}:\d{1,2}" size="18" disabled><br>
        <label for="planDueDatesFinish">End:</label><br>
        <input {{if .UserConfig.UseCalendarInConrols}}type="datetime-local"{{else}}}type="text"{{end}} id="planDueDatesFinish" class="numberbox" name="planDueDates" 
        placeholder="yyyy-mm-dd hh:mm" pattern="-?\d+-\d{1,2}-\d{1,2} \d{1,2}:\d{1,2}" size="18" disabled><br>
      </div>

      <div class="filter"><strong id="statusSetDatesName">Status set:</strong><br><br>
        <label for="statusSetDatesSingle">One value:</label><br>
        <select id="statusSetDatesRelation" class="numberbox" name="statusSetDatesRelation">
          <option value="eq">Equals</option>
          <option value="gteq">After (incl.)</option>
          <option value="lteq">Before (incl.)</option>
          <option value="noteq">Except</option>
        </select><span class="dropdown"></span><br>
        <input {{if .UserConfig.UseCalendarInConrols}}type="datetime-local"{{else}}}type="text"{{end}} id="statusSetDatesSingle" class="numberbox" name="statusSetDates" value=""
        placeholder="yyyy-mm-dd hh:mm" pattern="-?\d+-\d{1,2}-\d{1,2} \d{1,2}:\d{1,2}" size="18"><br><br>
        <label for="statusSetDatesDiapason">Interval:</label>
        <label class="switch"><input type="checkbox" class="hidden" 
          id="statusSetDatesDiapason" name="statusSetDatesDiapason" value="true" 
          onchange="handleNumericFilterChkBox(this, 'statusSetDates');
          handleNumericOption(this, 'statusSetDates')"><div class="slider"></div></label><br>
        <label for="statusSetDatesStart">Start:</label><br>
        <input {{if .UserConfig.UseCalendarInConrols}}type="datetime-local"{{else}}}type="text"{{end}} id="statusSetDatesStart" class="numberbox" name="statusSetDates" 
        placeholder="yyyy-mm-dd hh:mm" pattern="-?\d+-\d{1,2}-\d{1,2} \d{1,2}:\d{1,2}" size="18" disabled><br>
        <label for="statusSetDatesFinish">End:</label><br>
        <input {{if .UserConfig.UseCalendarInConrols}}type="datetime-local"{{else}}}type="text"{{end}} id="statusSetDatesFinish" class="numberbox" name="statusSetDates" 
        placeholder="yyyy-mm-dd hh:mm" pattern="-?\d+-\d{1,2}-\d{1,2} \d{1,2}:\d{1,2}" size="18" disabled><br>
      </div>



      <div class="margintop"><strong id="userSelectorName">Filter by user:</strong><br>
       <select id="userSelector" class="numberbox">
          <option value="">Select user</option>
          {{range .UserList}}<option value="{{.ID}}">{{.FullNameJob}}</option>
          {{end}}
        </select><span class="dropdown"></span><br>Select the type of participation:<br>
        <input type="button" class ="sbut pg smaller" value="Creator"
        onclick="addUserProfile(document.getElementById('userSelector').value, 'creators', 'userSelector');">
        <input type="button" class ="sbut pg smaller" value="Assignee"
        onclick="addUserProfile(document.getElementById('userSelector').value, 'assignees', 'userSelector');">
        <input type="button" class ="sbut pg smaller" value="Participant"
        onclick="addUserProfile(document.getElementById('userSelector').value, 'participants', 'userSelector');">
        <input type="button" class ="sbut pg smaller" value="Creator or assignee"
        onclick="addUserProfile(document.getElementById('userSelector').value, 'creatorsORassignees', 'userSelector');">
        <input type="button" class ="sbut pg smaller" value="Creator or assignee or participant"
        onclick="addUserProfile(document.getElementById('userSelector').value, 'anyparticipants', 'userSelector');">
        <br><input type="button" class ="sbut reddish smaller" value="Clear selection" onclick="resetUserSelectors();">
      </div>

      <div id="creators"><div class="margintop"><strong id="creatorsName">Creators:</strong></div>
      </div>
      <div id="assignees"><div class="margintop"><strong id="assigneesName">Assignees:</strong></div>
      </div>
      <div id="participants"><div class="margintop" id="participantsName"><strong>Participants:</strong></div>
      </div>
      <div id="creatorsORassignees"><div class="margintop" id="creatorsORassigneesName"><strong>Creators or assignees:</strong></div>
      </div>
      <div id="anyparticipants"><div class="margintop" id="anyparticipantsName"><strong>Creators or assignees or participants:</strong></div>
      </div>

      <br>



      <div id="filterButtonsControls">
      <input type="submit" class ="sbut" name="filterButton" value="Apply filters">
      <input type="button" class ="sbut" name="filterReset" onclick="resetUserSelectors();
      resetFilter();" value="Reset all filters">
      </div>
    </div>
  </form>

  <p id="appliedFilters"></p>
  
  <div id="controlButtons">
    <span class="panel"><a href="/tasks/?anyparticipants=my" title="Tasks for which I am a creator or am assignee or a participant">My tasks</a></span>
    <span class="panel"><a href="/tasks/?creators=my" title="Tasks for which I am creator">Created by me</a></span>
    <span class="panel"><a href="/tasks/?assignees=my" title="Tasks for which I am assignee">Assigned to me</a></span>
    <span class="panel"><a href="/tasks/" title="Tasks related to any users">All tasks</a></span><br>

    <a href="/tasks/task/new" class ="sbut greenish">+ New task</a>

    <input type="button" class ="sbut statusMultiControl" value="In progress" title="Set tasks status - in progress" onclick="
    addSortingOnSubmut('datagridForm'); addFiltersOnSubmut('datagridForm'); addPaginationOnSubmut('datagridForm');
    const frm = document.getElementById('datagridForm');
    addHiddenElem(frm, 'taskStatus', 'inprogress');
    frm.submit();" disabled>
    <input type="button" class ="sbut statusMultiControl" value="Stuck" title="Suspend due to some problem" onclick="
    addSortingOnSubmut('datagridForm'); addFiltersOnSubmut('datagridForm'); addPaginationOnSubmut('datagridForm');
    const frm = document.getElementById('datagridForm');
    addHiddenElem(frm, 'taskStatus', 'stuck');
    frm.submit();" disabled>
    <input type="button" class ="sbut statusMultiControl" value="Done" title="Complete selected tasks" onclick="
    addSortingOnSubmut('datagridForm'); addFiltersOnSubmut('datagridForm'); addPaginationOnSubmut('datagridForm');
    const frm = document.getElementById('datagridForm');
    addHiddenElem(frm, 'taskStatus', 'done');
    frm.submit();" disabled>
    <input type="button" class ="sbut statusMultiControl" value="Cancel" title="Cancel selected tasks" onclick="
    addSortingOnSubmut('datagridForm'); addFiltersOnSubmut('datagridForm'); addPaginationOnSubmut('datagridForm');
    const frm = document.getElementById('datagridForm');
    addHiddenElem(frm, 'taskStatus', 'cancelled');
    frm.submit();" disabled>

    <input type="button" class ="sbut reddish" id="deleteButton" name="deleteButton" value="× Delete selected" onclick="
    this.parentNode.lastElementChild.style.display = 'block'; document.getElementById('yesDeleteButton').disabled = false;" disabled>
    <div style="display: none;">
    <div class="msgredfx">This action can not be undone! Confirm deletion?</div>
    <input type="button" class="sbut" name="cancelButton" value="Cancel" onclick="this.parentNode.style.display = 'none'; document.getElementById('yesDeleteButton').disabled = true;">
    <input type="button" class ="sbut reddish" id="yesDeleteButton" name="deleteButton" value="yes, delete" onclick="
    addSortingOnSubmut('datagridForm'); addFiltersOnSubmut('datagridForm'); addPaginationOnSubmut('datagridForm');
    const frm = document.getElementById('datagridForm');
    addHiddenElem(frm, 'deleteButton', 'Delete selected');
    frm.submit();" disabled>
    </div>
  </div>

  {{if eq .Message "notAllorSomeElemsAllowedtoRemove"}}<p class="msgred">Action rejected: no permissions for all or some of objects. {{if .RemoveAllowed}}Only creator or administrator can delete.{{else}}Only administrator can delete.{{end}}</p>{{end}}
  {{if eq .Message "notAllorSomeElemsAllowedtoModify"}}<p class="msgred">Action rejected: no permissions for all or some of objects.</p>{{end}}
  {{if eq .Message "removedElems"}}<p class="msgok">Deleted objects: {{.RemovedNum}}.</p>{{end}}
  {{if eq .Message "removalError"}}<p class="msgred">Error deleting objects.</p>{{end}}
  {{if eq .Message "statusUpdated"}}<p class="msgok">Updated objects: {{.UpdatedNum}}.</p>{{end}}
  {{if eq .Message "statusUpdateError"}}<p class="msgred">Error updating objects.</p>{{end}}

  <form id="sortingForm" action="/tasks/" method="POST" onsubmit="addFiltersOnSubmut('sortingForm');">
    <div class="mobilesorting"><label>Sorting:</label>
    <select class="numberbox" id="sortedByMobile" onchange="sortBy(this.value, document.getElementById('sortedHow').value);">
      <option value="ID">Task #</option>
      <option value="Topic">Topic and content</option>
      <option value="Created">Created</option>
      <option value="PlanStart">Start (plan)</option>
      <option value="PlanDue">Due (plan)</option>
      <option value="StatusSet">Status set</option>
    </select><span class="dropdown"></span>
    <select class="numberbox" id="sortedHowMobile" onchange="sortBy(document.getElementById('sortedBy').value, this.value);">
      <option value="0">Descending</option>
      <option value="1">Ascending</option>
    </select><span class="dropdown"></span>
    <script>
      document.getElementById('sortedByMobile').value = "{{.SortedBy}}";
      document.getElementById('sortedHowMobile').value = "{{.SortedHow}}";
    </script>
    </div>
    <input type="hidden" id="sortedBy" name="sortedBy" value="{{.SortedBy}}">
    <input type="hidden" id="sortedHow" name="sortedHow" value="{{.SortedHow}}">
  </form>

  </div>

  <div class="main" id="main">
    {{if not .Tasks}}<div class="center"><br><br>Objects matching the specified criteria were not found, or there are no objects.<br><br></div>{{else}}
    <div id="pagination">
      <form id="paginationForm" action="/tasks/" method="POST" onsubmit="addFiltersOnSubmut('paginationForm');addSortingOnSubmut('paginationForm');">
        <span class="nowrap">
          <label for="pageNumber">Page {{.PageNumber}} of </label>
          <input class ="sbut pg" type="button" title="First" value="|&lt;" onclick="paginate('min');"> <input class ="sbut pg" type="button" title="Previous"value="&lt;-" onclick="paginate(-1);">
          <input type="number" class="field" size="8" id="pageNumber" name="pageNumber" value="{{.PageNumber}}" min="1" max="" onchange="paginate(0);">
          <input class ="sbut pg" type="button" title="Next" value="-&gt;" onclick="paginate(1);"> <input class ="sbut pg" type="button" title="Last" value="&gt;|" onclick="paginate('max');">
        </span>
      <span class="nowrap">
      <label for="elemsOnPage">Elements on page:</label>
      <select class="numberbox" id="elemsOnPage" name="elemsOnPage" onchange="document.getElementById('elemsOnPageChanged').value='true';
      paginate('min');">
        <option value="20">20</option>
        <option value="50">50</option>
        <option value="100">100</option>
        <option value="200">200</option>
        <option value="500">500</option>
      </select><span class="dropdown"></span>
      <input type="hidden" id="elemsOnPageChanged" name="elemsOnPageChanged" value="false">
      </span>
      <script>
        document.getElementById('elemsOnPage').value = "{{.UserConfig.ElemsOnPage}}";
      </script>
      </form>
    </div>

    <form id="datagridForm" name="datagridForm" action="/tasks/" method="POST" onsubmit="addSortingOnSubmut('datagridForm');
    addFiltersOnSubmut('datagridForm');addPaginationOnSubmut('datagridForm');">
    <table id="mainTable">
      <tr class="thead">
        <th align="center" id="Chooser"><input type="checkbox" class="chead" id="chead"></th>
        <th align="left" id="ID" title="Task number">#<span class="sort" title="Ascending" onclick='sortBy(this.parentNode.id, 1)'>▲</span><span class="sort" title="Descending" onclick='sortBy(this.parentNode.id, 0)'>▼</span></th>
        <th align="left" id="Topic">Topic and content<span class="sort" title="Ascending" onclick='sortBy(this.parentNode.id, 1)'>▲</span><span class="sort" title="Descending" onclick='sortBy(this.parentNode.id, 0)'>▼</span></th>
        <th align="left" id="Created" title="Time created">Created<span class="sort" title="Ascending" onclick='sortBy(this.parentNode.id, 1)'>▲</span><span class="sort" title="Descending" onclick='sortBy(this.parentNode.id, 0)'>▼</span></th>
        <th align="left" id="PlanStart" title="Planned start time">Start<span class="sort" title="Ascending" onclick='sortBy(this.parentNode.id, 1)'>▲</span><span class="sort" title="Descending" onclick='sortBy(this.parentNode.id, 0)'>▼</span></th>
        <th align="left" id="PlanDue" title="Planned due time">Due<span class="sort" title="Ascending" onclick='sortBy(this.parentNode.id, 1)'>▲</span><span class="sort" title="Descending" onclick='sortBy(this.parentNode.id, 0)'>▼</span></th>
        <th align="left" id="Creator">Creator</th>
        <th align="left" id="Assignee">Assignee</th>
        <th align="left" id="TaskStatus">Status</th>
        <th align="left" id="StatusSet" title="Time when the current status was set">Status set<span class="sort" title="Ascending" onclick='sortBy(this.parentNode.id, 1)'>▲</span><span class="sort" title="Descending" onclick='sortBy(this.parentNode.id, 0)'>▼</span></th>
      </tr>
      {{range .Tasks}}{{$ci := .GiveCreatorID}}{{$ai := .GiveAssigneeID}}
      <tr>
        <td label="Select" align="center"><input type="checkbox" class="chbox" id="{{.ID}}" name="ids" value="{{.ID}}"></td>
        <td label="Task #" align="left"><a href="/tasks/task/{{.ID}}">{{.ID}}</a></td>
        <td label="Topic and content" align="left"><a href="/tasks/task/{{.ID}}">{{.Topic}}</a> <div class="clamp taskcontent">{{.Content}}</div></td>
        <td label="Created" align="left"><span class="dt">{{.GiveDateTime "Created" $.UserConfig.DateFormat $.UserConfig.TimeFormat $vtsep}}</span></td>
        <td label="Start" align="left"><span class="dt">{{.GiveDateTime "PlanStart" $.UserConfig.DateFormat $.UserConfig.TimeFormat $vtsep}}</span></td>
        <td label="Due" align="left"><span class="dt">{{.GiveDateTime "PlanDue" $.UserConfig.DateFormat $.UserConfig.TimeFormat $vtsep}}</span></td>
        <td label="Creator" align="left">{{if $ci}}<a href="/team/profile/{{$ci}}">{{.Creator.GiveSelfNameJob}}</a>{{end}}</td>
        <td label="Assignee" align="left">{{if $ai}}<a href="/team/profile/{{$ai}}">{{.Assignee.GiveSelfNameJob}}</a>{{end}}</td>
        <td label="Status" align="left"><span class="statusIndicator">{{.GiveStatus $.TaskStatuses "Unknown"}}</span></td>
        <td label="Status set" align="left"><span class="dt">{{.GiveDateTime "StatusSet" $.UserConfig.DateFormat $.UserConfig.TimeFormat $vtsep}}</span></td>

      </tr>
      {{end}}
    </table>
    </form>

    <div id="stat"><br>Total objects by search criteria: {{.FilteredNum}}</div>
    {{end}}

  </div>

  <div id="bottom">© 2022 <a href="https://github.com/alecxcode/edm" target="_blank">EDM Project</a></div>

  
</div>

<script src="/assets/functions.js"></script>

<script>

  /* Functions to add inputs values from different forms on submit */
  function addSortingOnSubmut(formID) {
    const frm = document.getElementById(formID);
    addHiddenElem(frm, 'sortedBy', document.getElementById('sortedBy').value);
    addHiddenElem(frm, 'sortedHow', document.getElementById('sortedHow').value);
  }
  function addPaginationOnSubmut(formID) {
    const frm = document.getElementById(formID);
    let pageNumber = document.getElementById('pageNumber').value;
    let elemsOnPage = document.getElementById('elemsOnPage').value;
    let elemsOnCurrentPage = getElemsOnCurrentPage();
    addHiddenElem(frm, 'elemsOnCurrentPage', elemsOnCurrentPage);
    addHiddenElem(frm, 'pageNumber', pageNumber);
    addHiddenElem(frm, 'elemsOnPage', elemsOnPage);

    addHiddenElem(frm, 'filteredNum', {{.FilteredNum}});
    addHiddenElem(frm, 'previousPage', pageNumber);
    const mainTable = document.getElementById('mainTable');
    addHiddenElem(frm, 'firstElemOnPage', mainTable.rows[1].cells[1].innerText);
    addHiddenElem(frm, 'lastElemOnPage', mainTable.rows[mainTable.rows.length-1].cells[1].innerText);
  }
  function addFiltersOnSubmut(formID) {

    const frm = document.getElementById(formID);

    let classFilter = {{.Filters.ClassFilter}};
    let classFilterOR = {{.Filters.ClassFilterOR}};
    let dateFilter = {{.Filters.DateFilter}};
    let sumFilter = {{.Filters.SumFilter}};
    let textFilter = "{{.Filters.TextFilter}}";

    if (classFilter) {
      for (let eachF of classFilter) {
        for (let i = 0; i < eachF.List.length; i++) {
          addHiddenElem(frm, eachF.Name, eachF.List[i]);
        }
      }
    }

    if (classFilterOR) {
      let currentCFORName;
      for (let eachF of classFilterOR) {
        if (eachF.Name != currentCFORName) {
          currentCFORName = eachF.Name;
          for (let i = 0; i < eachF.List.length; i++) {
            addHiddenElem(frm, eachF.Name, eachF.List[i]);
          }
        }
      }
    }

    if (dateFilter) {
      for (let eachF of dateFilter) {
        addHiddenElem(frm, eachF.Name+'Relation', eachF.Relation);
        for (let i = 0; i < eachF.Dates.length; i++) {
          addHiddenElem(frm, eachF.Name, eachF.Dates[i]);
        }
      }
    }

    if (sumFilter) {
      for (let eachF of sumFilter) {
        addHiddenElem(frm, eachF.Name+'CurrencyCode', eachF.CurrencyCode);
        addHiddenElem(frm, eachF.Name+'Relation', eachF.Relation);
        for (let i = 0; i < eachF.SumsStr.length; i++) {
          addHiddenElem(frm, eachF.Name, eachF.SumsStr[i]);
        }
      }
    }

    if (textFilter) {
      addHiddenElem(frm, 'searchText', textFilter);
    }

  }

  function resetUserSelectors() {
    document.querySelectorAll('input[name="creators"]').forEach(e => e.remove());
    document.querySelectorAll('input[name="assignees"]').forEach(e => e.remove());
    document.querySelectorAll('input[name="participants"]').forEach(e => e.remove());
    document.querySelectorAll('input[name="creatorsORassignees"]').forEach(e => e.remove());
    document.querySelectorAll('input[name="anyparticipants"]').forEach(e => e.remove());
    document.getElementById('creators').innerHTML = '<div class="margintop"><strong id="creatorsName">Creators:</strong></div>';
    document.getElementById('assignees').innerHTML = '<div class="margintop"><strong id="assigneesName">Assignees:</strong></div>';
    document.getElementById('participants').innerHTML = '<div class="margintop"><strong id="creatorsName">Participants:</strong></div>';
    document.getElementById('creatorsORassignees').innerHTML = '<div class="margintop" id="creatorsORassigneesName"><strong>Creators or assignees:</strong></div>';
    document.getElementById('anyparticipants').innerHTML = '<div class="margintop"><strong id="assigneesName">Creators or assignees or participants:</strong></div>';
  }
  
  /* Main page loading function */
  (function() {

    //console.time('Main Function');

    let mainTablePresent = false;
    if (document.getElementById('mainTable')) {
      mainTablePresent = true;
    }

    let removeAllowed = {{.RemoveAllowed}};
    if (removeAllowed == false) {
      document.getElementById('deleteButton').style.display = 'none';
    }

    let classFilterArr = [];
    let dateFilterArr = [];
    let sumFilterArr = [];

    let classFilter = {{.Filters.ClassFilter}};
    let classFilterOR = {{.Filters.ClassFilterOR}};
    let dateFilter = {{.Filters.DateFilter}};
    let sumFilter = {{.Filters.SumFilter}};
    let textFilter = "{{.Filters.TextFilter}}";

    if (classFilter) classFilter.forEach((e) => classFilterArr.push(e));
    if (classFilterOR) classFilterOR.forEach((e) => {
      if (!classFilterArr.some(v => v.Name == e.Name)) {
        classFilterArr.push(e);
      }
    });

    if (classFilterArr) {
      for (let eachF of classFilterArr) {
        if (eachF.Selector) {
          applyTypeFilterSelector(eachF.List, eachF.Name, eachF.Selector);
        } else {
          applyTypeFilter(eachF.List, eachF.Name);
        }
      }
    }

    if (dateFilter) {
      for (let eachF of dateFilter) {
        applyDateFilter(eachF);
        dateFilterArr.push(eachF);
      }
    }

    if (sumFilter) {
      for (let eachF of sumFilter) {
        applySumFilter(eachF);
        sumFilterArr.push(eachF);
      }
    }

    if (textFilter) {
      applyTextFilter(textFilter);
    }

    if (textFilter && mainTablePresent) {
      highlightSearchResults(textFilter, [2]);
    }

    printAppliedFilters("Applied filters: ", "No filters applied.", "Interval", classFilterArr, dateFilterArr, sumFilterArr, textFilter);
    


    if (mainTablePresent) {
      const mainTable = document.getElementById('mainTable');
      addHiddenElem(document.getElementById('paginationForm'), 'firstElemOnPage', mainTable.rows[1].cells[1].innerText);
      addHiddenElem(document.getElementById('paginationForm'), 'lastElemOnPage', mainTable.rows[mainTable.rows.length-1].cells[1].innerText);
      addHiddenElem(document.getElementById('paginationForm'), 'filteredNum', {{.FilteredNum}});
      addHiddenElem(document.getElementById('paginationForm'), 'previousPage', document.getElementById('pageNumber').value);

      processTableSelection(removeAllowed);
      applySortingSelection();
      processPagesCalculations("Total objects by search criteria", "On this page", "Total pages", {{.UserConfig.ElemsOnPage}}, {{.FilteredNum}});

      let TaskStatusesArr = {{.TaskStatuses}};
      let statusesArr = document.getElementsByClassName('statusIndicator');
      Array.prototype.forEach.call(statusesArr, elem => {
        const CREATED = 0, ASSIGNED = 1, INPROGRESS = 2, STUCK = 3, DONE = 4, CANCELLED = 5;
        let className = '';
        let taskStatus = TaskStatusesArr.indexOf(elem.innerText);
        if (taskStatus == CREATED || taskStatus == ASSIGNED || taskStatus == INPROGRESS) className = 'txtblue';
        if (taskStatus == STUCK) className = 'txtred';
        if (taskStatus == DONE) className = 'txtgreen';
        if (taskStatus == CANCELLED) className = 'txtbw';
        elem.classList.add(className);
      });

      let dtArr = document.getElementsByClassName('dt');
      Array.prototype.forEach.call(dtArr, elem => {
        elem.innerHTML = elem.innerHTML.replace('\n', '<br>')
      });

      clearBBCode('div.taskcontent');

    }
        
    //console.timeEnd('Main Function');

  })();

</script>

</body>
</html>
