:root {
  font-size: 14px;
  --elements-radius: 2px;
  --standard-font: Roboto, "Segoe UI", Ubuntu, "-apple-system", BlinkMacSystemFont, Arial, sans-serif;
  --tableOddRowBkgColor: #282824;
  --tableSelectionColor: #202430;
  --defaultBackgroundColor: #323232;
  --darkerBackgroundColor: #202020;
  --menuBackgroundColor: #111;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  color-scheme: dark;
}
* {
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: var(--darkerBackgroundColor);
  font-family: var(--standard-font);
}
pre, code {
  font-family: 'Courier New', Courier, monospace;
  overflow-x: auto;
  background-color: #303034;
  border: 1px solid #282832;
  border-top-width: 1em;
  border-radius: var(--elements-radius);
  padding: 4px;
}

/* menu items */
#headmenu {
  background-color: #111111f0;
  width:100%;
  height: 42px;
  padding: 6px;
  text-align: left;
  position: fixed;
  top: 0;
  font-size: 18px;
  z-index: 65535;
}
.boxinmenu {
  margin: 0 auto;
  max-width: 1140px;
  min-width: 320px;
}
#evenly {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.graphicmenu, .textmenu {
  display: inline;
}
.graphicmenu a {
  text-decoration: none;
  padding: 2px 8px 4px 8px;
}
#textmenu a, #mobilemenu a, .mobileMenuButton {
  text-decoration: none;
  color: #cbb;
  padding: 5px 8px;
  border: 1px solid transparent;
  border-radius: var(--elements-radius);
}
#textmenu .chosenmenu, #mobilemenu .chosenmenu {
  color: #eed;
  border: 1px solid #303040;
  background-color: #303040;
  border-radius: var(--elements-radius);
}
#mobilemenu {
  font-size: 20px;
  display: none;
  padding: 60px 10px 80px 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--menuBackgroundColor);
  z-index: -1;
}
#mobilemenu a {
  margin: 0.5em 0px 0.5em 0px;
  display: block;
}

#textmenu a:hover, #textmenu a:focus, #mobilemenu a:hover, #mobilemenu a:focus, .mobileMenuButton:hover, .mobileMenuButton:focus {
  text-decoration: none;
  color: #ff5555;
  background-color: #001;
  border: 1px solid #a44;
  border-radius: var(--elements-radius);
  outline: 0;
}
.vector {
  vertical-align: middle;
  width: 20px;
  height: 20px;
  filter: invert(91%) sepia(5%) saturate(603%) hue-rotate(314deg) brightness(94%) contrast(68%);
}
.vector:hover, a:focus .vector {
  filter: invert(44%) sepia(26%) saturate(6361%) hue-rotate(335deg) brightness(107%) contrast(107%) drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.9));
}

/* page content and control blocks */
#container {
  border: 1px solid #111;
  border-radius: var(--elements-radius);
  margin: 0 auto;
  background-color: var(--defaultBackgroundColor);
  -webkit-box-shadow: 0 0 15px 1px #111;
  -moz-box-shadow: 0 0 15px 1px #111;
  box-shadow: 0 0 15px 1px #111;
  filter: progid:DXImageTransform.Microsoft.shadow(direction=0, color=#000, strength=10);
  max-width: 1140px;
  min-width: 320px;
}
#control {
  padding: 58px 20px 0px 20px;
  color: #acacac;
  display: block;
  margin: 0;
  font-size: 14px;
  text-align: left;
}
#main {
  padding: 10px 20px 0px 20px;
  color: #acacac;
  display: block;
  margin: 0;
  font-size: 14px;
  text-align: left;
}
a, a:visited {
  text-decoration: none;
  color: #7dd;
}
a:hover, a:focus {
  text-decoration: underline;
  color: #8aee8a;
  outline: 0;
}
.breadcrumbs {margin-bottom: 10px;}
.scroller {height: 11em; overflow-y: scroll; padding: 4px; background-color: #383838;}

.txtred {color: #f33;}
.txtgreen {color: #8f0;}
.txtblue {color: #99f;}
.txtbw {color: #fff;}

.msgredfx {color: #f33;}
.msgred {color: #f33; opacity: 0; animation: 8s linear fadeout;}
.msgok {color: #8f0; opacity: 0; animation: 8s linear fadeout;}
@keyframes fadeout {
  0% {opacity: 1; transform: scale(1, 1);}
  80% {opacity: 1; transform: scale(1, 1);}
  99% {opacity: 0; transform: scale(1, 0.1);}
}

/* applied filter, some lists */
.af {
  color: #000;
  background-color: #808089;
  border-radius: var(--elements-radius);
  padding: 0px 5px 0px 5px;
  white-space: nowrap;
}
.chosen-block {
  max-width: fit-content;
  color: #000;
  background-color: #909099;
  border-radius: var(--elements-radius);
  padding: 0px 5px 0px 5px;
  white-space: nowrap;
}
.chosen-withrm, #control .chosen-withrm, #main .chosen-withrm {
  color: #000;
  background-color: #909099;
  border-radius: var(--elements-radius) 0 0 var(--elements-radius);
  padding: 0px 5px 0px 5px;
  white-space: nowrap;
}
.rm{ 
  cursor: pointer;
  color:#000; 
  background-color: #d55;
  border-radius: 0 var(--elements-radius) var(--elements-radius) 0;
  padding-left: 3px;
  padding-right: 3px;
}
#appliedFilters, #appliedElems {
  line-height: 1.5em;
  margin-bottom: 0.5em;
}
#pagination {
  margin-bottom: 0.2em;
}

.sort {color: #778;} /* sort class for sorting arrows in a table header */
.sortchosen {color: #f00;}
.sort, .sortchosen {cursor: pointer;}
.sort:hover, .sort:focus, .sortchosen:hover, .sortchosen:focus {
  color: #faa;
  outline: 0;
}
#bottom {
  padding: 20px;
  color: #999;
  display: block;
  margin: 0;
  font-size: 14px;
  text-align: center;
}
#bottom a, #bottom a:visited {
  text-decoration: none;
  color: #89a;
}
#bottom a:hover, #bottom a:focus {
  text-decoration: underline;
  color: #eee;
  outline: 0;
}
h1 {
  color: #eee;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}
h2 {
  color: #eee;
  font-size: 18px;
  font-weight: bold;
  margin-top: 6px;
  margin-bottom: 4px;
}
table {
  width: 100%;
  border-spacing: 0px;
  border-collapse: separate;
  border: 0.5px solid #505050;
}
tr:nth-child(even) {background-color: var(--tableOddRowBkgColor);}

th {white-space: nowrap;}
th, td {border: 0.5px solid #505050;}

.thead {
  background-color: #10100c;
  color: #bba;
}

.clamp {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}
.clampbig {
  -webkit-line-clamp: 10;
  line-clamp: 10;
}
.afile {
  display: block; 
  margin: 1px; 
  border-radius: 2px; 
  border: 1px solid #555;
}
.afile-inline-block {
  display: inline-block; 
  margin: 1px; 
  border-radius: 2px; 
  border: 1px solid #555;
}
.someaction {
  text-decoration: underline;
  text-decoration-style: dotted;
  cursor: pointer;
  color: #89a;
}


/* file input and display */
.filedrop {
  width: 100%;
  min-height: 8em;
  position: relative;
  color: #eee;
  border: 2px dashed #080;
  background-color: #202020;
  cursor: pointer;
  padding: 8px;
}
.filedrop input[type=file] {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  -webkit-appearance: none;
  cursor: pointer;
}
::-webkit-file-upload-button {opacity: 0;}
::-ms-browse {opacity: 0;}

.center {
  display: block;
  text-align: center;
}
.somemargins {
  margin-top: 6px;
  margin-bottom: 6px;
}
.margintop {
  margin-top: 6px;
}
.marginbottom {
  margin-top: 6px;
}



input[type=text], input[type=button], input[type=submit], button {
  -webkit-appearance: none;
  -webkit-border-radius: var(--elements-radius);
  border-radius: var(--elements-radius);
}

input[type='date'], input[type='time'], input[type='datetime-local'] {
  -webkit-appearance: none;
  -webkit-min-logical-width: 100px;
}

input[type='checkbox'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  margin-top: 1px;
  width: 14px;
  height: 14px;
  background-color: #202020;
  border: 1px solid #555;
}
input[type='checkbox']:checked {
  background-color: #3f3;
  box-shadow: inset 0px 0px 1px 1px #262;
}

input[type='checkbox']:checked::before {
  content: "✓";
  font-size: 12px;
  color: #555;
  position: absolute;
  left: 1px;
  top: -1px;
  margin: 0;
  padding: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-left: 3px;
  padding-right: 16px;
  max-width: 99%;
}
.dropdown{position: relative; display: inline;}
.dropdown::after {
  content: '•••';
  font-family: 'Courier New', Courier, monospace;
  font-size: 10px;
  color: #888;
  right: 0px;
  top: 2px;
  padding: 0px;
  border-bottom: 1px solid #555;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  position: absolute;
  pointer-events: none;
}

/* switch control */
.switch {
  margin: 2px 0;
  position: relative;
  display: inline-block;
  width: 38px;
  height: 20px;
}
.hidden {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #5d5d5d;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 19px;
}
.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: #ddd;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}
input:checked + .slider {
  background-color: #0b0;
}
input:focus + .slider {
  box-shadow: 0 0 1px 0px #111;
}
input:hover + .slider:before, input:focus + .slider:before {
  box-shadow: 0 0 1px 0px #111;
}
input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

/* all inputs */
input, button {
  font: inherit;
  border: 1px solid #222;
  border-radius: var(--elements-radius);
}

/* text fields */
.field {
  margin: 2px 0;
  color: #bbb;
  display: inline-block;
  background-color: #202020;
  border: 1px solid #444;
  border-radius: var(--elements-radius);
  padding: 5px 8px;
  box-shadow: inset 1px 1px 2px 0px #101010, 1px 1px 2px 0px #333;
}
.field:hover {
  box-shadow: inset 1px 1px 2px 0px #000, 1px 1px 2px 0px #248;
  border: 1px solid #48e;
}
.field:focus, .field:active {
  box-shadow: inset 1px 1px 2px 0px #000, 1px 1px 2px 0px #248;
  border: 1px solid #48e;
  outline: 0;
}
.multiline {
  max-width: 100%;
  margin: 2px 0;
  color: #bbb;
  display: inline-block;
  background-color: #202020;
  border: 1px solid #444;
  border-radius: var(--elements-radius);
  font: inherit;
  padding: 3px 6px 3px 6px;
  box-shadow: inset 1px 1px 2px 0px #101010, 1px 1px 2px 0px #333;
}
.multiline:hover {
  border: 1px solid #777;
  box-shadow: inset 1px 1px 2px 0px #000, 1px 1px 2px 0px #2c2c2c;
}
.multiline:focus, .multiline:active {
  border: 1px solid #777;
  outline: 0;
  box-shadow: inset 1px 1px 2px 0px #000, 1px 1px 2px 0px #2c2c2c;
}

/* styled button */
a.sbut, a.sbut:active, a.sbut:visited {
  text-decoration: none;
  color: #ddd;
  display: inline-block;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
}
.sbut {
  cursor: pointer;
  text-decoration: none;
  margin: 2px 0;
  display: inline-block;
  background-color: #258;
  color: #ddd;
  border: 1px solid #111;
  border-radius: var(--elements-radius);
  padding: 5px 8px;
  box-shadow: 1px 1px 2px 0px #111;
}
.sbut:hover, .sbut:focus, a.sbut:hover, a.sbut:focus {
  background-color: #48e;
  color: #eee;
  box-shadow: 1px 1px 2px 0px #222;
  border: 1px solid #004;
  outline: 0;
}
.greenish, a.greenish:visited {
  color: #eee;
  background-color: #090;
}
.greenish:hover, .greenish:focus, a.greenish:hover, a.greenish:focus {
  color: #fff;
  background-color: #1b1;
  border: 1px solid #050;
}
.reddish, a.reddish:visited {
  color: #eee;
  background-color: #900;
}
.reddish:hover, .reddish:focus, a.reddish:hover, a.reddish:focus {
  color: #fff;
  background-color: #c22;
  border: 1px solid #500;
}
.pg {
  color: #888;
  background-color: #222;
  padding: 5px 2px;
}
.pg:hover, .pg:focus, a.pg:hover, a.pg:focus {
  color: #000;
  background-color: #777;
  border: 1px solid #000;
}
.smaller {
  padding: 2px 4px;
}
.nowrap {
  white-space: nowrap;
}

/* panel */
.panel, .panel:hover, .panel:focus {
  text-decoration: none;
  margin: 2px 0;
  display: inline-block;
  background-color: var(--defaultBackgroundColor);
  color: #a0a0a0;
  border: 1px solid #151515;
  border-radius: var(--elements-radius);
  padding: 5px 8px;
  box-shadow: 1px 1px 2px 0px #202020;
}

/* other things */
#stat {
  font-size: 12px;
  color: #777;
}
.numberbox {
  color: #bbb;
  background-color: #202020;
  height: 24px;
  margin: 1px;
  font: inherit;
  border: 1px solid #444;
  border-radius: var(--elements-radius);
  box-shadow: inset 1px 1px 2px 0px #101010, 1px 1px 2px 0px #333;
}
.numberbox:hover, .numberbox:focus {
  border: 1px solid #48e;
  outline: 0;
}

.highlight {
  color: #000;
  background-color: #ca0;
}

.filter {
  display: inline-block;
  vertical-align: top;
  margin: 2px;
}
#search {white-space: nowrap; display: inline;}
#searchText {
  width: 50%;
  min-width: 10%;
}

input:disabled, .numberbox:disabled, .sbut:disabled, .field:disabled {
  color: #555 !important;
  background-color: #333 !important;
  border: 1px solid #555 !important;
  box-shadow: none;
}

.mobileMenuButton, #showFiltersMobile, .mobilesorting {
  display: none;
}

/* Fields names and values of a single object */
.ofname {
  display: inline-block;
  width: 160px;
  padding: 4px;
}
.ofval {
  display: inline-block;
  padding: 4px;
  max-width: calc(100% - 160px);
}
#main p {
  margin-bottom: 2px;
  border-bottom: 1px solid #505050;
  min-width: 168px;
  max-width: fit-content;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
}
.wideelem {
  margin-bottom: 6px;
  border: 1px solid #404040;
  background-color: #383838;
  border-radius: var(--elements-radius);
  width: 100%;
  padding-left: 2px;
  padding-right: 2px;
}
.elem {
  border: 1px solid #111;
  border-radius: var(--elements-radius);
  box-shadow: 2px 2px 4px 0px #222;
  margin-bottom: 18px;
}
.subelem {
  display: block;
  padding: 6px 6px;
}
h3 {
  padding: 3px 6px;
  background-color: #181818;
  color: #bba;
}
h3 a, h3 a:hover, h3 a:active, h3 a:visited {
  text-decoration: none;
  background-color: #181818;
  color: #bba;
}
h3 a:focus {
  text-decoration: underline;
  text-decoration-style: dotted;
}




@media screen and (max-width: 960px) {
  th {
      width: unset;
    }
  .ofname {
    width: 100%;
    border-right: none;
  }
  .ofval {
    width: 100%;
    max-width: unset;
  }
  #main p {
    min-width: 100%;
    max-width: 100%;
  }
}



@media screen and (max-width: 640px) {
  table th {
    display: none;
  }
  table td {
    border: 0.7px solid #383838;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    border-spacing: 1px;
    border-collapse: separate;
  }
  table td div, table td span {
    margin-left: 2px;
    margin-right: 2px;
  }
  table td::before {
    content: attr(label);
    text-align: left;
    font-weight: bold;
    width: 90px;
    min-width: 90px;
  }
  .textmenu a {
    display: none;
  }
  
  .mobileMenuButton {
    cursor: pointer;
    display: inline;
    text-decoration: none;
    color: #cbb;
    padding: 5px 8px;
    border: 1px solid transparent;
    border-radius: var(--elements-radius);
  }
  .mobilesorting {
    display: block;
    margin-top: 0.7em;
  }
  
}