<!DOCTYPE html>
<html lang="{{.UserConfig.LangCode}}">
{{template "head" .}}
<body>

{{template "menus" .}}

<div id="container">

  <div id="control">
  <h1 i18n-text="config">{{.PageTitle}}</h1>

  {{if eq .Message "dataWritten"}}<div class="msgok" i18n-text="configSaved">Settings saved.</div>{{end}}
  {{if eq .Message "dataNotWritten"}}<div class="msgred" i18n-text="dataNotWritten">Error writing data.</div>{{end}}

  </div>

  <div id="main">

    <div id="user">
      <form id="configUser" action="/config" method="post">



        <h2 i18n-text="appearance">Appearance:</h2>
        <p><span class="ofname" i18n-text="systemTheme">System theme:</span> <select name="systemTheme" id="systemTheme" class="numberbox" 
          onchange="document.getElementById('configUser').submit();">
          {{range .Themes}}<option value="{{.}}">{{.}}</option>
          {{end}}
        </select><span class="dropdown"></span></p>

        <p><span class="ofname" i18n-text="elemsOnPage">Elements on page:</span> <select name="elemsOnPage" id="elemsOnPage" class="numberbox"
          onchange="document.getElementById('configUser').submit();">
          <option value="20">20</option>
          <option value="50">50</option>
          <option value="100">100</option>
          <option value="200">200</option>
          <option value="500">500</option>
        </select><span class="dropdown"></span></p>

        <p><span class="ofname" i18n-text="elemsOnTeamPage">Elements on team page:</span> <select name="elemsOnPageTeam" id="elemsOnPageTeam" class="numberbox"
          onchange="document.getElementById('configUser').submit();">
          <option value="20">20</option>
          <option value="50">50</option>
          <option value="100">100</option>
          <option value="200">200</option>
          <option value="500">500</option>
        </select><span class="dropdown"></span></p>

        <p><span class="ofname" i18n-text="dateFormat">Date format in tables:</span> <select name="dateFormat" id="dateFormat" class="numberbox"
          onchange="document.getElementById('configUser').submit();">
          {{range .DateFormats}}<option value="{{.}}">{{.}}</option>
          {{end}}
        </select><span class="dropdown"></span></p>

        <p><span class="ofname" i18n-text="timeFormat">Time format in tables:</span> <select name="timeFormat" id="timeFormat" class="numberbox"
          onchange="document.getElementById('configUser').submit();">
          {{range .TimeFormats}}<option value="{{.}}">{{.}}</option>
          {{end}}
        </select><span class="dropdown"></span></p>

        <p><span class="ofname" i18n-text="interfaceLang">Interface Language:</span> <select name="langCode" id="langCode" class="numberbox"
          onchange="document.getElementById('configUser').submit();">
          {{range .LangCodes}}<option value="{{.}}">{{.}}</option>
          {{end}}
        </select><span class="dropdown"></span></p>
        <script>
        (function(){
          const langSelector = document.getElementById('langCode');
          let selectOptions = langSelector.options;
          for (let opt of selectOptions) {
            switch (opt.value) {
              case 'en': opt.innerHTML = 'English'; continue;
              case 'es': opt.innerHTML = 'Español'; continue;
              case 'fr': opt.innerHTML = 'Français'; continue;
              case 'ru': opt.innerHTML = 'Русский'; continue;
            }
          }
        })();
        </script>

        <p><label for="useCalendarInConrols" class="ofname" i18n-title="useCalendarInConrolsHint"
          title="If disabled, these inputs will become text fields." i18n-text="useCalendarInConrols">Use calendar inputs for date and time:</label>
          <label class="switch"><input type="checkbox" class="hidden" 
          id="useCalendarInConrols" name="useCalendarInConrols" value="true"
          onchange="document.getElementById('configUser').submit();">
        <span class="slider"></span></label></p>

        <p><label for="currencyBeforeAmount" class="ofname" i18n-text="currencyBeforeAmount">Show currency before amount:</label>
          <label class="switch"><input type="checkbox" class="hidden" 
          id="currencyBeforeAmount" name="currencyBeforeAmount" value="true"
          onchange="document.getElementById('configUser').submit();">
        <span class="slider"></span></label></p>



        <h2 i18n-text="functionality">Functionality:</h2>

        <p><label for="showFinishedTasks" class="ofname" i18n-text="showFinishedTasks">Show completed and cancelled tasks with default filter:</label>
          <label class="switch"><input type="checkbox" class="hidden" 
          id="showFinishedTasks" name="showFinishedTasks" value="true"
          onchange="document.getElementById('configUser').submit();">
        <span class="slider"></span></label></p>

        <p><label for="returnAfterCreation" class="ofname" i18n-text="returnAfterCreation">Return to elements list page after element creation:</label>
          <label class="switch"><input type="checkbox" class="hidden" 
          id="returnAfterCreation" name="returnAfterCreation" value="true"
          onchange="document.getElementById('configUser').submit();">
        <span class="slider"></span></label></p>



        <br>
        <input type="hidden" name="updateButton" value="saveConfig">

      </form>
    </div>

  </div>

{{template "bottom"}}


</div>

<script src="/assets/functions.js"></script>

<script>
  /* Main page loading function */
  (function() {
    /* Appearance */
    document.getElementById('systemTheme').value = "{{.UserConfig.SystemTheme}}";
    document.getElementById('elemsOnPage').value = {{.UserConfig.ElemsOnPage}};
    document.getElementById('elemsOnPageTeam').value = {{.UserConfig.ElemsOnPageTeam}};
    document.getElementById('dateFormat').value = "{{.UserConfig.DateFormat}}";
    document.getElementById('timeFormat').value = "{{.UserConfig.TimeFormat}}";
    document.getElementById('langCode').value = "{{.UserConfig.LangCode}}";
    document.getElementById('useCalendarInConrols').checked = {{.UserConfig.UseCalendarInConrols}};
    document.getElementById('currencyBeforeAmount').checked = {{.UserConfig.CurrencyBeforeAmount}};
    /* Functionality */
    document.getElementById('showFinishedTasks').checked = {{.UserConfig.ShowFinishedTasks}};
    document.getElementById('returnAfterCreation').checked = {{.UserConfig.ReturnAfterCreation}};
  })();
</script>

</body>
</html>
