<!DOCTYPE html>
<html lang="{{.UserConfig.LangCode}}">
{{template "head" returnHeadRender .AppTitle .PageTitle .UserConfig.LangCode .UserConfig.SystemTheme}}
<body>

{{template "loading" .UserConfig.LangCode}}
{{template "menus" .}}

<div id="container">


  <div id="control">
    <h1 i18n-text="projects">{{.PageTitle}}</h1>

    <form id="controlForm" action="/projs/" method="get" onsubmit="addSortingOnSubmut('controlForm'); removeEmptyInputs(this);">
      {{template "searchPanel"}}

      <div id="showhide" style="display: none;">

        <div class="filter" id="firstFilter"><strong id="projstatusesDisplay" i18n-text="statuses">Statuses:</strong><br>
          {{range $i, $v := .ProjStatuses}}<input type="checkbox" id="ps{{$i}}" name="projstatuses" value="{{$i}}">
          <label for="ps{{$i}}" i18n-index="projStatuses-{{$i}}">{{$v}}</label><br>
          {{end}}
        </div>
      
        <div class="filter"><strong id="creatorsDisplay" i18n-text="creators">Creators:</strong><br>
          <div class="scroller">
          {{range .UserList}}
          <input type="checkbox" id="uid{{.ID}}" name="creators" value="{{.ID}}">
          <label for="uid{{.ID}}">{{.Value}}</label><br>{{end}}
          </div>
        </div>

        {{template "filterButtonsControls"}}
      </div>
    </form>

    <p id="appliedFilters" i18n-text="noFiltersApplied">No filters applied.</p>
    
    <div id="controlButtons">
      <a href="/projs/project/new" class="sbut greenish" i18n-text="newProject">+ New project</a>
      {{template "deleteButton"}}
    </div>

    {{if eq .Message "notAllorSomeElemsAllowedtoRemove"}}<p class="msgred"><span i18n-text="noPerms">Action rejected: no permissions for all or some of objects.</span>{{end}}
    {{if eq .Message "removedElems"}}<p class="msgok"><span i18n-text="removedElems">Deleted objects:</span> {{.RemovedNum}}.</p>{{end}}
    {{if eq .Message "removalError"}}<p class="msgred" i18n-text="removalError">Error deleting objects.</p>{{end}}
  </div>

  <div class="main" id="main">
    {{template "formatOutput"}}
    {{if not .Projects}}<div class="center somemargins" i18n-text="noElemsFound">Objects matching the specified criteria were not found, or there are no objects.</div>
    {{else}}{{template "pagination" .PageNumber}}
    <form id="datagridForm" name="datagridForm" action="/projs/" method="post" onsubmit="addSortingOnSubmut('datagridForm');
    addFiltersOnSubmut('datagridForm');addPaginationOnSubmut('datagridForm');removeEmptyInputs(this);
    sessionStorage.setItem('lastQuery', location.search);">
    <div id="mainTable" style="grid-template-columns: min-content auto auto min-content;">
        <div class="gridheader center" id="Chooser"><input type="checkbox" class="chead" id="chead"></div>
        <div class="gridheader" id="ProjName"><span i18n-text="nameAndDescription">Name and description</span></div>
        <div class="gridheader" id="Creator"><span i18n-text="creatorOwner">Creator (owner)</span></div>
        <div class="gridheader" id="ProjStatus"><span i18n-text="status">Status</span></div>

      {{$seq := "grideven"}}
      {{range .Projects}}{{$ci := .GiveCreatorID}}
        <div class="row-{{.ID}} {{$seq}} center select"><input type="checkbox" class="chbox" id="{{.ID}}" name="ids" value="{{.ID}}"></div>
        <div class="row-{{.ID}} {{$seq}} textsearch firstcell"><span class="mobile" i18n-text="nameAndDescription">Name and description: </span><a href="/projs/project/{{.ID}}">{{.ProjName}}</a> <div class="clamp description">{{.Description}}</div></div>
        <div class="row-{{.ID}} {{$seq}}"><span class="mobile" i18n-text="creatorOwner">Creator (owner): </span>{{if $ci}}<a href="/team/profile/{{$ci}}">{{.Creator.GiveSelfNameJob}}</a>{{end}}</div>
        <div class="row-{{.ID}} {{$seq}} lastcell"><span class="mobile" i18n-text="status">Status: </span><span class="statusIndicator nowrap" data-status="{{.ProjStatus}}" i18n-index="projStatuses-{{.ProjStatus}}">{{.GiveStatus $.ProjStatuses "Unknown"}}</span></div>
      {{if eq $seq "grideven"}}{{$seq = "gridodd"}}{{else}}{{$seq = "grideven"}}{{end}}
      {{end}}
    </div>
    </form>

    <div id="stat" class="stat margintop"><span i18n-text="totalElemsFound">Total objects by search criteria:</span> {{.FilteredNum}}</div>
    {{end}}

  </div>

{{template "bottom" .AppVersion}}


</div>



<script>

  /* Functions to add inputs values from different forms on submit */
  function addPaginationOnSubmut(formID) {
    addStandardPagination(formID);
  }
  function addFiltersOnSubmut(formID) {
    const frm = document.getElementById(formID);
    let filters = {{.Filters}};
    processAddingFilters(frm, filters);
  }
  /* Specific page functions */
  /* Currently no specific functions */
  
  /* Main page loading function */
  (function() {

    //console.time('Main Function');

    checkForNewCreated();

    let mainTablePresent = false;
    if (document.getElementById('mainTable')) {
      mainTablePresent = true;
      document.getElementById('elemsOnPage').value = "{{.UserConfig.ElemsOnPage}}";
    }

    let removeAllowed = {{.RemoveAllowed}};
    if (!removeAllowed) {
      document.getElementById('deleteButton').style.display = 'none';
    }

    document.getElementById('filterReset').addEventListener("click", function() {
      resetFilter();
    }); 

    let classFilterArr = [];
    let dateFilterArr = [];
    let sumFilterArr = [];
    let filters = {{.Filters}};
    let textFilter = filters.TextFilter;
    applyAllFilters(filters, classFilterArr, dateFilterArr, sumFilterArr);

    if (textFilter && mainTablePresent) {
      highlightSearchResults(textFilter);
    }
    printAppliedFilters(classFilterArr, dateFilterArr, sumFilterArr, textFilter);
   
    if (mainTablePresent) {
      processTableSelection(removeAllowed);
      applySortingSelection();
      processPagesCalculations({{.UserConfig.ElemsOnPage}}, {{.FilteredNum}});

      let statusesArr = document.getElementsByClassName('statusIndicator');
      for (elem of statusesArr) {
        updateProjStatusIndicatorClass(Number(elem.getAttribute('data-status')), elem);
      }

      clearBBCode('div.description');


    }

    /* Replaces the page number arg in the URL according to last query after POST */
    replacePageNumberArg({{.PageNumber}});
        
    //console.timeEnd('Main Function');

  })();

</script>

</body>
</html>
